[Unit]
Description=Minecraft Server %i
After=network.target

[Service]
WorkingDirectory=/home/%u/minecraft/%i
Type=forking

# commands to start server (reqires a run.sh)
ExecStart=/usr/bin/screen -dmS mc_%i bash run.sh

# commands to save world and stop server
ExecStop=/usr/bin/screen -S mc_%i -p 0 -X stuff 'say SERVER SHUTTING DOWN in 5 seconds. Saving...^M'
ExecStop=/usr/bin/screen -S mc_%i -p 0 -X stuff 'save-all^M'
ExecStop=/usr/bin/sleep 5
ExecStop=/usr/bin/screen -S mc_%i -p 0 -X stuff 'stop^M'

# auto restart the server on chrash
Restart=on-failure
RestartSec=60
